.section{
    margin-top: 20px;
    text-align: center;
    
}
.container{
    margin-top: 50px;
}
.form-group{
    font-size: 120px;
    text-align: left;
    border: black;

}
.form-button{
    text-align: center;

}
